@import "generales"; @import "operaciones";

footer {
  background-color: dimgrey;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  overflow: hidden;
  padding: 10px;
  opacity: .7;
}
.h1contacto{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:500px ;
 
}
.formulario{
  text-align: center;
  backdrop-filter:blur(8px);
  color: beige;
  font-size:20px;
  
}
.h1lanzmientos{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 700%;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}
.peugeot{
  color: beige;
  backdrop-filter:blur(8px);
  font-size: medium;
  text-align: center;
}
.cajapeugeot{
backdrop-filter:blur(8px);
text-align: center;
}
.h1noticias{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}
.mini{
  color: beige;
  backdrop-filter:blur(8px);
  font-size: large;
  text-align: center;
}
h2{
  text-align: center;
}
.h1test{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}
.ptest{
  color: beige;
  font-size:large;
  backdrop-filter:blur(8px);
}
.pruebas{
  backdrop-filter:blur(8px);
  text-align: center;
}
#menu-bar{
  display: none;
  
}
header label{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display:none;
  
}
@media(max-width:600px){

header{
    padding: 20px; 
  }
  header label{
    display: initial;
  }
 header .navbar{
  position: absolute;
  top: 100%;left: 0; right:0 ;
  background: #fff;
  border-top: 1px solid rgba( 0, 0, 0, .1);
display: none;
 }
 header .navbar ul li{
  width: 100%;
 }
#menu-bar:checked ~ .navbar{
  display: initial;
}

  }
 