/*mobile-smartphone*/

*{
    padding:0;
     margin:0;
     box-sizing: border-box;
} 

header{
    background-color:black;
    text-align:center;
    font-size: 20px;
   padding-top: auto;
    display: flex;
   border-style: solid;
   
    
}
.logo img{
    display: block;
    padding: 0px;
    float: left;
    padding: 5px; width: 200px;
 
}



h1 {
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
    padding: 40px;
    text-align: center;

    flex-wrap: wrap;
}

a{
    text-decoration: none;
    font-size: larger;
    font-family:'Poppins', sans-serif ;
    color: white ;
    margin: 30px;
    font-weight: bold;
    
}

nav ul li{
    display: inline-flex;
    
}

p{
    font-size: 25px;
    
}



footer{
    background-color: dimgrey;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    
}

html{
    font-size: 62.5%;
}

 
    input{
    
    width: 400px;
    height: 60px;
    border-color: rgb(243, 18, 18);
    
    
    }

    label{
    display:block
    }

    
    form{
        font-size: 40px;
        text-align: center;
        color: white;
        background-image: url(../img/fondo\ autos.jpg);
        background-size: cover;
        position:absolute;
        left: 350px;
        
 }

 h2{
     font-family:'Poppins', sans-serif ;
     font-size: 50px;
 }
  
#grilla{
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "contacto"
    "lanzamientos"
    "noticias"
    "pruebas"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 100px 2fr 1 fr 100px;
    gap:5px;

}

/*desktop*/
@media(min-width:1024px){
   

  
 .grid-container{
    display: grid;
    background-color:beige;
    
}
.grid-container div{
    background-color:white;
    grid-template-columns: auto auto;
    text-align: center;
    border: 1px solid black;
    justify-content: space-evenly;
    margin: 1%;
    
}
}


.box main:hover{
    transform: scale(4);

}


