* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: url(../img/90787.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0, 5s ease;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 999;
}

header .logo {
  font-weight: bolder;
  font-size: 25px;
  color: #333;
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 10px;
  color: #333;
  display: block;
  text-decoration: none;
  font-weight: bolder;
  transition: all 0.5s ease;
}

header .navbar ul li a:hover {
  background-color: #333;
  color: #ffffff;
  border-radius: 15px;
}

.texthome {
  font-size: 300%;
  text-align: left;
  padding: 5%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  width: 100%;
  color: whitesmoke;
}

.h1main {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 800%;
  padding: 150px;
  text-align: left;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 500px;
}

footer {
  background-color: dimgrey;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  overflow: hidden;
  padding: 10px;
  opacity: 0.7;
}

.h1contacto {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 500px;
}

.formulario {
  text-align: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  color: beige;
  font-size: 20px;
}

.h1lanzmientos {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 700%;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 50px;
}

.peugeot {
  color: beige;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: medium;
  text-align: center;
}

.cajapeugeot {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  text-align: center;
}

.h1noticias {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 50px;
}

.mini {
  color: beige;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: large;
  text-align: center;
}

h2 {
  text-align: center;
}

.h1test {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 50px;
}

.ptest {
  color: beige;
  font-size: large;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.pruebas {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  text-align: center;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}/*# sourceMappingURL=style.css.map */