* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration:none;
}

html {
  font-size: 62.5%;
}
body{
  min-height: 100vh;
  background: url(../img/90787.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0,0,0,1);
padding: 0px 7px;
display: flex;
align-items: center;
justify-content:space-between;
z-index: 1000;


}
header .logo{
  font-weight: bolder;
  font-size: 25px;
  color: #333;
  
}
header .navbar ul{
  list-style: none;
  
}
header .navbar ul li{
position: relative;
float: left; 

}
header .navbar ul li a{
 font-size: 20px;
 padding:10px ;
 color: #333;
 display:block ;
 
}
header .navbar ul li a:hover{
  background-color:#333;
  color:#ffffff;
  
}

.texthome {
  font-size:30px;
  text-align:left;
  padding: 90px;
  backdrop-filter:blur(8px);
  width:900px ;
  color: whitesmoke;

}
.h1main {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding: 150px;
  text-align: left;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:500px ;
}
footer {
  background-color: dimgrey;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
  overflow: hidden;
  padding: 10px;
  opacity: .7;
}
.h1contacto{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:500px ;
 
}
.formulario{
  text-align: center;
  backdrop-filter:blur(8px);
  color: beige;
  font-size:20px;
  
}
.h1lanzmientos{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}
.peugeot{
  color: beige;
  backdrop-filter:blur(8px);
  font-size: medium;
  text-align: center;
}
.cajapeugeot{
backdrop-filter:blur(8px);
}
.h1noticias{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}
.mini{
  color: beige;
  backdrop-filter:blur(8px);
  font-size: medium;
  text-align: center;
}
h2{
  text-align: center;
}
.h1test{
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 70px;
  padding-top: 150px;
  text-align: center;
  flex-wrap: wrap;
 padding-left: 50px;
 padding-bottom:50px ;
}



 @media(max-width:991px){
  header{
    padding: 20px;
  }
  header label{
    display: initial;
  }
  header .navbar{
    position: absolute;
    top:100%;left: 0;right: 0;
    background: transparent;
    border-top: 1px solid rgba(0, 0, 0,1);
    color: black;
  }
  header .navbar ul li{
width: 100%;
  }
  header .navbar ul li ul{
    position: relative;
    width:100% ;
  }
  header .navbar ul li a{
    color: blue;
  }

  }
 